@{
    ViewBag.Title = "Login";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
    <form action="index.cshtml">
        <label for="em">Email:</label><br>
        <input type="text" id="em" name="Email"><br>
        <label for="Pss">Password:</label><br>
        <input type="password" id="Pss" name="Password"><br>
        <input type="submit" value="Submit">

        <a class="btn btn-outline-dark" type="submit" href='@Url.Action("Registrazione", "Home")'>
            Registrati
        </a>
    </form>
</main>