@{
    ViewBag.Title = "Registrazione";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
    <form action="Login.cshtml">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname"><br><br>
        <label for="em">Email:</label><br>
        <input type="text" id="em" name="Email"><br>
        <label for="Pss">Password:</label><br>
        <input type="password" id="Pss" name="Password"><br>
        <label for="Pss2">Conferma password:</label><br>
        <input type="password" id="Pss2" name="Conferma password"><br>
        <input type="submit" value="Submit">
    </form>
</main>